{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
      <h5 class="card-header">Welcome</h5>
      <div class="card-body">
        <h5 class="card-title">Welcome to Event Calendar</h5>
        <a href="/events/create" class="btn btn-success">Create Event</a>
        <a href="/categories/create" class="btn btn-primary">Create Category</a>
      </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
